Flask==3.0.0           # веб-фреймворк
Flask-Login==0.6.3     # управление авторизацией пользователей
Flask-WTF==1.2.1       # работа с формами и валидацией
Werkzeug==3.0.1        # хеширование паролей