<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask Lab 3{% endblock %}</title>
</head>
<body>
    <div>
        <p>
            <a href="{{ url_for('index') }}">Главная</a> |
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('register') }}">Регистрация</a> |
                <a href="{{ url_for('users_list') }}">Пользователи</a> |
                <a href="{{ url_for('logout') }}">Выход ({{ current_user.username }})</a>
            {% else %}
                <a href="{{ url_for('login') }}">Вход</a>
            {% endif %}
        </p>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>